@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.main-root{
    background: url('../../images/Why\ us\ Girl.png');
    height: 100%; 
    padding-bottom: 15rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0089BD;
    mix-blend-mode: darken;
    padding-top: 10rem;
}
.heading{
    color:white;
    text-align:center;
    font-size: 1rem;
    font-family: 'Open Sans';
    margin-top: -7rem;
}
.title {
    color: #00ACEE;
    /* padding-left: 5rem; */
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 1.15rem;
    letter-spacing: -0.02em;
}
.title-div{
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Open Sans';
}
.content {
    color: white;
    font-size: 1.15rem;
    padding: 0 2rem 2rem 2rem;
    text-align: left;
    font-family: 'Open Sans';
    text-align: justify;
    letter-spacing: -0.02em;
}
 .title:hover {
    transform: scale(1.1);
  }

  .content:hover {
    transform: scale(1.1);
}
 

@media screen and (max-width: 450px) {
    .main-root{
        background-color: #0089BD;
        mix-blend-mode: darken;
    }
    .content{
        font-size: 0.80rem;
        padding: 0 1rem 1rem 1rem;
        text-align: left;
        font-family: 'Open Sans';
        text-align: justify;
        letter-spacing: -0.02em;
    }
    .heading{
        color:white;
        text-align:center;
        font-size: 1rem;
        padding-top: 2rem;
        font-family: 'Open Sans';
        margin-top: -10rem;
    }
    .title {
        color: #00ACEE;
        padding-left: 2rem;
        padding-right: 2rem;
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 0.90rem;;
        letter-spacing: -0.02em;
    }
    .title:hover {
        transform: scale(1.05);
      }
    
      .content:hover {
        transform: scale(1.05);
    }
}